.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.NTAS {
  position: absolute;
  margin-left: 400px;
}
.Test {
  position: absolute;
  width: 40%;
  height: 60%;
  object-fit: contain;
  margin-left: 0px;
  margin-top: 40px;
}

.Test3 {
  font-size: 20px;  
  position: absolute;
  margin-left: 300px;
  margin-top: 150px;
  object-fit: contain;
}

.Textbox {
  position: absolute;
  margin-left: 540px;
  margin-top: 138px;
  height: 15%;
  width: 15%;
  object-fit: contain;
  text-align: center;
}
.Button1 {
  position: absolute;
  margin-left: 800px;
  margin-top: 140px;
  height: 15%;
  width: 7%;
  object-fit: contain;
  background-color: blue;
  color: white;
}
  
.Button2 {
  position: absolute;
  margin-left: 1010px;
  margin-top: 80px;
  width: 20%;
  height: 20%;
  font-size: 20px;
  object-fit: contain;
  background-color: skyblue;
  color: black; 
}

.Button3 {
  position: absolute;
  margin-left: 1010px;
  margin-top: 180px;
  width: 20%;
  height: 20%;
  font-size: 20px;
  object-fit: contain;
  background-color: skyblue;
  color: black;
}

.InfoText {
  position: relative;
  margin-left: 500px;
  margin-top: 100px;
  object-fit: contain;
}

.App-header {
  background-color: #2a1d2a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
